#footer .content,
#credit .content {
	max-width: 1212px;
	margin: 0 auto;
}

#footer {
	position: relative;
	background: #aaa;
	margin: 0 auto;
	height: 128px;
	padding: 0 37 0 66px;
}

#credit .content,
#footer .content {
	padding: 0;
}

#footer #logo {
	background: url('../img/logo_grey.png') 0 0 no-repeat;
	width: 162px;
	height: 45px;
	float: left;
	margin: 45px 40px 35px 0px;
}

#footer .menu {
	float: right;
}

#footer .menu li {
	padding: 0 0 5px 0;
	margin: 58px 0 0 63px;;
	float: left;
}

#footer .menu li:hover,
#footer .menu li.active {
	border: none;
}

#footer .menu li a {
	text-decoration: none;
	font-size: 87%;
}

#footer .menu li a,
#footer .menu li a.active,
#footer .menu li a:hover,
#footer .menu li a:focus,
#footer .menu li a:visited {
	color: #636363;
}

#footer .menu li:hover > a,
#footer .menu li.active > a {
	color: #000;
}

#credit {
	margin: 0 auto;
	height: 26px;
	padding: 0 37 0 66px;
}

#credit p {
	margin: 0;
	color: #fff;
	font-size: 80%;
	line-height: 2em;
	vertical-align: middle;
}

#credit a {
	color: #fff;
	text-decoration: none;
}

#credit a:hover,
#credit a:focus {
	color: #F68F36;
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 940px) {
	#footer .menu li {
	    margin: 58px 0 0 55px;
	}
}

@media all and (max-width: 880px) {
	#footer {
		margin: 0;
		padding: 0;
		height: auto;
	}

	#footer .content {
		padding: 43px 10px 25px;
	}

	#footer #logo {
		float: none;
		margin: 0 auto;
	}

	#footer .menu {
		float: none;
		margin: 60px auto 0;
	}

	#footer .menu li {
	    float: none;
	    margin: 10px 10px 7px 10px;
	    padding: 0;
	    text-align: center;
	}
	#credit {
		padding: 0 10px;
		height: 83px;
	}

	#credit p {
		line-height: 83px;
		vertical-align: middle;
	}

	#credit .left {
		float: none;
		text-align: center;
	}

	#credit .right {
		display: none;
	}

}