.carousel.fullscreen {
	height: 312px;
	position: relative;
	background-color: grey;
    margin: 0 auto;
}

.carousel.fullscreen .content_wrap {
    position: relative;
}

.carousel.fullscreen .slick-slide {
    float: left;
    height: 312px;
    width: 100%;
    min-height: 1px;
    background-size: 100%;
}

.carousel.fullscreen .slick-list {
	height: 312px;
}

.carousel.fullscreen .content {
    position: absolute;
    top: 0;
	margin: 0;
    max-width: 1000px;
    padding: 140px 67px 0;
    color: #fff;
}

.carousel.fullscreen .bg img {
    display: block;
    width: 100%;
}

.carousel.fullscreen .content * {
	color: #fff;
}

.carousel.fullscreen .content h1 {
	font-size: 180%;
	font-style: italic;
	font-weight: bold;
}

.carousel.fullscreen .content p.text {
	font-size: 87%;
	margin: 18px 0 23px;
    max-height: 50px;
    overflow: hidden;
}

.carousel.fullscreen .content p.btn {
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 7px 13px 7px 28px;
    margin: 5px 0;
    display: inline;
	background: url('../img/carousel_btn.jpg') repeat-x 0 0;
}

.carousel.fullscreen .content .btn a{
    background-image: url("../img/arrow_next.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    height: 1.2em;
    padding-right: 63px;
    text-decoration: none;
}

.carousel.fullscreen .slick-dots {
	position: absolute;
	bottom: 15px;
	left: 51%;
	margin-left: -45px;
    list-style: none;
    text-align: center;
    display: block;
}

.carousel.fullscreen .slick-dots li {
    position: relative;
    display: inline-block;
    width: 9px;
    height: 14px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.carousel.fullscreen .slick-dots li button {
    font-size: 0;
    width: 9px;
    height: 9px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-image: url('../img/dot.png');
    background-color: transparent;
    background-position: 0px 0px;
}

.carousel.fullscreen .slick-dots li.slick-active button, 
.carousel.fullscreen .slick-dots li button:hover,
.carousel.fullscreen .slick-dots li button:focus {
    background-position: 9px 0;
}

.carousel.fullscreen button.slick-arrow {
	top: 50%;
}

@media all and (max-width: 1366px) {
    .carousel.fullscreen .bg img {
        width: auto;
    }

    .carousel.fullscreen .content {
        max-width: 75%;
    }
}

@media all and (max-width: 780px) {
    .carousel.fullscreen {
        height: 290;
    }

    .carousel.fullscreen .slick-slide {
        height: 290px;
    }

    .carousel.fullscreen .slick-list {
        height: 290;
    }

    .carousel.fullscreen .content {
        max-width: 100%;
        padding: 100px;
        text-align: center;
    }

    .carousel.fullscreen .content h1 {
        font-size: 130%;
    }

    .carousel.fullscreen .content p.text {
        font-size: 77%;
        text-align: center;
    }

    .carousel.fullscreen .content p.btn {
        display: none;
    }

    .carousel.fullscreen .slick-dots {
        margin-left: -35px;
    }
}

@media all and (max-width: 500px) {
    .carousel.fullscreen .slick-dots {
        margin-left: -56px;
    }

    .carousel.fullscreen .content {
        padding: 100px 20px 10px;
    }
}