#header {
	position: relative;
	max-width: 1212px;
	margin: 0 auto;
	padding: 0 37 0 66px;
	height: 70px;
}

#header #logo {
	width: 140px;
	height: 112px;
	background: url('../img/logo.jpg') 0 0 no-repeat transparent;
	position: absolute;
	top: 0;
	left: 66px;
	z-index: 1000;
}

#header .menu{
	float: right;
}

#header .menu_toggler {
	display: none;
}

#header .menu li {
	padding: 0 0 5px 0;
	margin: 30px 0 0 63px;;
	float: left;
	position: relative;
}

#header .menu li a,
#header .menu li a.active,
#header .menu li a:hover,
#header .menu li a:focus,
#header .menu li a:visited {
	color: #636363;
}

#header .menu li a {
	text-decoration: none;
	font-size: 87%;
}

#header .menu li:hover {
	cursor: pointer;
}

#header .menu li:hover,
#header .menu li.active {
	border-width: 0 0 3px;
	border-color: #F68F36;
	border-style: solid;
}

#header .menu li > ul {
	display: none;
}

#header .menu li > ul li {
	margin: 0;
	float: none;
	background-color: #fff;
	padding: 12px 48px;
	text-align: center;
}

#header .menu li:hover > ul,
#header .menu li:focus > ul {
	background: url("../img/triangle_menu.png") no-repeat scroll 50% 25px transparent;
    display: inline;
    left: -4em;
    padding: 30px 0px;
    position: absolute;
    top: 1em;
    z-index: 20000;
}

#header .menu li > ul li:hover,
#header .menu li > ul li.active {
	border-width: 0 0 3px;
	border-color: #F68F36;
	border-style: solid;
	padding: 12px 48px 9px;
}

@media all and (min-width: 861px) {
	#header .menu {
		display: block !important;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 860px) {
	#header {
		height: auto;
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
	}

	#header .menu {
		float: none;
		display: none;
	}

     #header .menu li {
     	display: block;
	    margin: 0;
	    padding: 0;
	    text-align: left;
	    background-color: none;
	    width: 100%;
	    float: none;
     }

     #header .menu li > ul {
		display: block;
		background: none;
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
	}

	#header .menu li:hover > ul,
	#header .menu li:focus > ul {
		background: none;
	    display: inline;
	    left: 0;
	    padding: 0px;
	    position: relative;
	    top: 0;
	}

	#header .menu li > ul li {
		padding: 0;
		text-align: left;
	}

	#header .menu li > ul li:hover,
	#header .menu li > ul li.active {
		border-width: 0;
		padding:0;
	}

     #header .menu li > ul li a {
     	padding: 0.8em 1em 0.8em 62px;
     }
     #header .menu li > ul li a::before{
     	content: '- ';
     }

    #header .menu li:hover,
	#header .menu li.active {
		border-width: 0;
	}

     #header .menu li a {
     	background: #F68F36 none repeat scroll 0 0;
	    border-bottom: 1px solid white;
	    float: none;
	    display: block;
	    font-size: 90%;
	    font-weight: 400;
	    letter-spacing: 2px;
	    padding: 0.8em 1em 0.8em 42px;
	    text-decoration: none;
	    text-transform: uppercase;
	    /*width: 100%;*/
     }

    #header .menu li a,
	#header .menu li a.active,
	#header .menu li a:hover,
	#header .menu li a:focus,
	#header .menu li a:visited {
		color: #fff;
	}

	#header #logo_wrap {
		position: relative;
	}

	#header #logo {
		width: 140px;
		height: 112px;
		background: url('../img/logo.jpg') 0 0 no-repeat transparent;
		z-index: 1000;
		position: absolute;
		top: 0;
		left: 40px;
	}

     #header #logo_wrap #menu_toggler {
     	background: transparent url("../img/menu_toggler.png") no-repeat scroll right top;
	    display: block;
	    height: 1.2em;
	    padding-right: 22px;
	    width: 50px;
	    margin: 17px 14px 10px;
	    float: right;
     }

     #header #logo_wrap #menu_toggler:hover {
     	cursor: pointer;
     }

     #header #logo_wrap #menu_toggler:hover,
     #header #logo_wrap #menu_toggler.active{
     	background: transparent url("../img/menu_toggler_hover.png") no-repeat scroll right top;
     }

}


/* Smartphones (portrait and landscape) ----------- */
@media all and (max-width: 560px) {
	#header #logo {
		width: 97;
		height: 77;
		background: url('../img/logo_small.jpg') 0 0 no-repeat transparent;
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 1000;
	}
}
