@font-face {
    font-family: 'FiraSans';
    src: url('fonts/fira-sans/FiraSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/fira-sans/FiraSans-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/fira-sans/FiraSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('fonts/fira-sans/FiraSans-LightItalic.otf');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Slick';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/slick/slick.eot');
    src: url('fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick/slick.woff') format('woff'), url('fonts/slick/slick.ttf') format('truetype'), url('fonts/slick/slick.svg#slick') format('svg');
}



/*@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("fonts/DejaVuSans-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
  font-size: 100%;
  color: black;
  line-height: 1.2;
  text-align: left;
  margin: 20px 0;
}

body {
	font-family: 'FiraSans', Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.bg_black {
	background-color: black;
}

.bg_grey {
	background-color: #636363;
}
.bg_grey_light {
	background-color: #e5e5e5;
}

.bg_white {
	background-color: white;
}

.bg_orange {
	background-color: #F68F36;
}

.color_black,
.color_black a {
	color: black;
}
.color_grey,
.color_grey a {
	color: #636363;
}

.color_white,
.color_white a {
	color: white;	
}

.color_orange,
.color_orange a {
	color: #F68F36;
}

.clear {
	clear: both;
}

.column_2 {
	float: left;
	width: 50%;
}

.column_3 {
	float: left;
	width: 33.3%;
}

.left {
	float: left;
}

.right {
	float: right;
}

#header {
	position: relative;
	padding: 0 40px;
	height: 70px;
	width: 100%;
}

#header #logo {
	width: 140px;
	height: 112px;
	background: url('img/logo.jpg') 0 0 no-repeat transparent;
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1000;
}

#header .menu,
#footer .menu {
	float: right;
}

#header .menu li {
	padding: 0 0 5px 0;
	margin: 30px 0 0 63px;;
	float: left;
}

#header .menu li a,
#footer .menu li a {
	text-decoration: none;
	font-size: 87%;
}

#header .menu li:hover,
#header .menu li.active {
	border-width: 0 0 3px;
	border-color: #F68F36;
	border-style: solid;
}

/*.banner { 
	position: relative; 
	overflow: auto; 
}
.banner li { 
	list-style: none; 
}

.banner ul li {
    display: block;
    float: left;
    min-height: 350px;
    padding: 160px 0 110px;
    width: 33%;
}

.banner h1, .banner h2 {
    color: #fff;
    font-size: 40px;
    line-height: 52px;
}

.banner .btn, .banner .dot {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
}

.banner .btn {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 25px 0 0;
    padding: 9px 22px 7px;
    text-decoration: none;
    text-transform: uppercase;
}

.banner .dots {
    bottom: 20px;
    left: 0;
    position: absolute;
    right: 0;
}

.banner .dots li {
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    opacity: 0.4;
    text-indent: -999em;
    transition: background 0.5s ease 0s, opacity 0.5s ease 0s;
    width: 10px;
}
.banner .dots li.active {
    background: #fff none repeat scroll 0 0;
    opacity: 1;
}
*/

.carousel {
	margin: 20px auto;
	overflow: hidden;
}

.carousel.multiple {
	width: 1366px; 
	height: 200px;
}

.carousel.multiple .slick-list {
	max-width: 1162px;
	margin: 0 0 0 103px;
	padding: 0 !important;
	transform: translate3d(0px, 0px, 0px);
}

.carousel.multiple img {
	width: 100%;
	height: auto;
}

.carousel.fullscreen {
	height: 473px;
	position: relative;
	background-color: grey;
}

.carousel.fullscreen .slick-slide {
    float: left;
    height: 473px;
    width: 100%;
    min-height: 1px;
    background-size: 100%;
}

.carousel.fullscreen .slick-list {
	height: 473px;
}

.carousel.fullscreen .content {
	margin: 0 auto;
    max-width: 1012px;
    padding: 218px 200px 0 0;
    color: #fff;
}

.carousel.fullscreen .content * {
	color: #fff;
}

.carousel.fullscreen .content h1 {
	font-size: 180%;
	font-style: italic;
	font-weight: bold;
}


.carousel.fullscreen .content p {
	font-size: 87%;
	margin: 18px 0 35px;
}

.carousel.fullscreen .content a.btn {
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 10px 13px 10px 28px;
	background: url('img/carousel_btn.jpg') repeat-x 0 0;
}

.carousel.fullscreen .slick-dots {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -45px;
    list-style: none;
    text-align: center;
    display: block;
}

.carousel.fullscreen .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.carousel.fullscreen .slick-dots li button {
    font-size: 0;
    width: 14px;
    height: 14px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-image: url('img/dot.png');
    background-color: transparent;
    background-position: 0px 0px;
}

.carousel.fullscreen .slick-dots li.slick-active button, 
.carousel.fullscreen .slick-dots li button:hover,
.carousel.fullscreen .slick-dots li button:focus {
    background-position: 14px 0;
}

.carousel .item {
	margin: 0px 15px;
}

.carousel button.slick-arrow {
	width: 56px;
	height: 56px;
	background-color: #666666;
	border: 0;
    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    margin-top: -10px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.carousel button.slick-arrow:hover,
.carousel button.slick-arrow:focus {
	background-image: url('img/carousel_btn.jpg');
	background-repeat: repeat-x; 
}

.carousel button.slick-arrow::before {
	-moz-osx-font-smoothing: grayscale;
    color: white;
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
}

.carousel button.slick-arrow::before {
	content: '';
}
.carousel button.slick-prev::before {
	content: '<';
}
.carousel button.slick-prev {
	left: 0px;
}
.carousel button.slick-next {
	right: 0px;
}
.carousel button.slick-next::before {
	content: '>';
}

.content {
	padding: 60px 0 55px;
}

.article.first .content {
	padding-top: 0px;
}

h1.page_title {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin: 70px 10px 66px;
}

.article h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
}

.article h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 50px;
}

.article.bottom_title .content{
	padding: 0px 0 40px;
}

.article.bottom_title h3 {
	text-align: center;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
	line-height: 1.2;
	margin: 60px 10px 30px;
}

.article li {
	list-style: initial;
}

.article.center h2,
.article.center h3 ,
.article.center p{
	text-align: center;
}

.article.center ul{
	text-align: center;
	font-size: 110%;
}

.article.center ul li {
	line-height: 2.2em;
}

.article.upper ul li {
	text-transform: uppercase;
}

.article ul.left {
	padding-left: 1em;
}

.article ul.left li {
	padding-left: 1em;
	line-height: 1.9em;
}

#header,
#footer .content,
#credit .content {
	max-width: 1212px;
	margin: 0 auto;
}

.article .content {
	max-width: 1168;
	padding-right:44px;
	margin: 0 auto;
}

#about_us canvas {
	padding: 0 auto;
}

#address h2 {
	margin-top:24px;
}
#address .column_3 p {
	margin: 11px 0;
}

#contacts {
	padding: 30px 0 20px;
}

#contacts .content {
	padding: 10px 44px 5px 0;
}

#contacts th {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-style: italic;
  line-height: 2;
  text-align: left;
  vertical-align: middle;
  width: 25%;
  padding-left: 50px;
}

#contacts th:first-child {
	text-align: left;
	padding: 0;
}

#contacts tr th:nth-child(1){
    width: 25%;
}

#contacts tr th:nth-child(2){
    width: 32%;
}

#contacts tr th:nth-child(3){
    width: 20%;
}

#contacts tr th:nth-child(4){
    width: 25%;
}

#contacts tr:nth-child(2) td {
    padding-top: 20px;
}

#contacts tr td:nth-child(1){
    width: 25%;
}
#contacts tr td:nth-child(2){
    width: 32%;
}

#contacts tr td:nth-child(3){
    width: 20%;
}
#contacts tr td:nth-child(4){
    width: 25%;
}

#contacts th:last-child {
	text-align: right;
	padding-left: 0px;
	padding-right: 50px;
}

#contacts td {
	height: 50px;
	border-width: 0 0 1px 0;
	border-color: #cecece;
	border-style: solid;
	vertical-align: middle;
	font-size: 16px;
	color: black;
  	line-height: 3;
  	text-align: left;
  	width: 25%;
} 

#contacts tr:last-child td {
	border-bottom: 0px;
}

#contacts td:first-child {
	font-weight: bold;
}

#contacts td:last-child {
	text-align: right;
}

#bg_map {
	background: url('img/map.png') no-repeat;
	background-position: right 35px;
	min-height: 256px;
}

#footer {
	background: #aaa;
	margin: 0 auto;
	width: 100%;
}

#credit .content,
#footer .content {
	padding: 0;
}

#footer #logo {
	background: url('img/logo_grey.png') 0 0 no-repeat;
	width: 162px;
	height: 45px;
	float: left;
	margin: 45px 40px 35px 0px;
}

#footer .menu li {
	padding: 0 0 5px 0;
	margin: 58px 0 0 63px;;
	float: left;
}

#footer .menu li:hover,
#footer .menu li.active {
	/*border-width: 0 0 3px;
	border-color: #F68F36;
	border-style: solid;*/
}

#footer .menu li:hover > a,
#footer .menu li.active > a {
	color: #000;
}

#credit {
	margin: 0 auto;
	width: 100%;
	height: 40px;
}

#credit p {
	margin: 0;
	color: #fff;
	font-size: 87%;
	line-height: 40px;
	vertical-align: middle;
}

#credit a {
	color: #fff;
	text-decoration: none;
}

#credit a:hover,
#credit a:focus {
	color: #F68F36;
}

/* CARRIER */
.custom_content h2 {
	margin: 60px 10px 0;
}

.custom_content h3 {
	text-decoration: underline;
	font-style: italic;
	font-weight: 300;
	margin: 60px 10px 30px;
}

.bottom_contacts.col_4 {
	position: relative;
	padding: 44px 0 30px;
}

.bottom_contacts.col_3 {
	position: relative;
	padding: 15px 0 46px;
}

.bottom_contacts.col_4 .content {
	padding: 24px 0 58px;
}

.bottom_contacts.col_3 .content {
	padding: 0px 0 0px;
}

.bottom_contacts.col_4 table {
	padding: 24px 44px 58px 0;
}

.bottom_contacts.col_3 table {
	padding: 0 44px 14px 0;
}

.bottom_contacts.col_4 td {
    font-size: 18px;
    line-height: 3;
}

.bottom_contacts.col_3 td {
    font-size: 24px;
    line-height: 1.4em;
}

.bottom_contacts.col_3 td,
.bottom_contacts.col_4 td {
	border: 0 none;
    color: black;
    height: 50px;
    text-align: left;
    vertical-align: middle;
}

.bottom_contacts tr:last-child td {
	border-bottom: 0px;
}

.bottom_contacts td:first-child {
	font-weight: bold;
}

.bottom_contacts td:last-child {
	text-align: right;
}

.bottom_contacts.col_4 tr td:nth-child(1){
    width: 25%;
}
.bottom_contacts.col_4 tr td:nth-child(2){
    width: 32%;
}

.bottom_contacts.col_4 tr td:nth-child(3){
    width: 20%;
}
.bottom_contacts.col_4 tr td:nth-child(4){
    width: 25%;
}

.bottom_contacts.col_3 tr td{
    width: 33.3%;
    text-align: center;
}

.bottom_contacts.col_3 .arrow,
.bottom_contacts.col_4 .arrow {
	margin: 0 auto;
	background: url('img/triangle.png') 0 0 no-repeat;
	width: 89px;
	height: 45px;
	position: relative;
}

.bottom_contacts.col_3 .arrow {
	top: -15px;
}
.bottom_contacts.col_4 .arrow {
	top: -45px;
}

.product_item {
	text-align: center;
}

.product_item h2{
	font-size: 30px;
	font-weight: bold;
}


